page-produto-detail {
    .card {
        background-color: #fffefe;
        border-radius: 10%;
        padding: 10px;
    }

    .img {
        width: 150px;
        margin-left: auto;
        margin-right: auto;
    }
}
